<md-toolbar class="header-bar" color="primary">
    <span class="title">Game en cours</span>
    <button md-raised-button color="accent" (click)="closeGame()">Terminer</button>
</md-toolbar>

<div class="content">
    <md-list>
        <h3 md-subheader>Joueurs</h3>
        <md-list-item *ngFor="let player of players">
            <img md-list-avatar (click)="openZoom(player.role)" [src]="player.role.image">
            <h4 md-line>{{player.name}}</h4>
            <p md-line>{{player.role.name}}</p>
        </md-list-item>
        <md-divider></md-divider>
        <h3 *ngIf="noDistributedRoles.length" md-subheader>Rôles non distribués</h3>
        <md-list-item *ngFor="let role of noDistributedRoles">
            <img md-list-avatar (click)="openZoom(role)" [src]="role.image">
            <h4 md-line>{{role.name}}</h4>
        </md-list-item>
    </md-list>
</div>