/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';

.cdk-overlay-dark-backdrop {
    background: black;
    &.cdk-overlay-dark-backdrop {
        opacity: 1;
    }
}

body {
    margin: 0;
}

md-toolbar.header-bar {
    position: fixed;
    z-index: 200;
    .title {
        flex: 1;
    }
    button {
        margin-left: 5px;
    }
}

.content {
    padding-top: 60px;
}